body {
    margin: 0 auto 50px;
    width: 700px;
    background-color: #A8D1E7;
    font-family: Padauk;
}

body header {
    font-size: 30px;
}

#main-content {
    width: 480px;
    float: left;
}

#main-content .article > img {
    float: left;
    margin-right: 20px;
    
}

#news {
    margin-left: 20px;
    float: left;
    width: 200px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.tomato {
    color: tomato;
}

.bold {
    font-weight: bold;
}

#reversed #main-content {
    float: right;
    margin-left: 20px;
}

#reversed #news {
    margin-left: 0px;
}

.FAQ {
    color: #24315e;
}

.hide1 {
    display: none;
}

.hide2 {
    display: none;
}

.hide3 {
    display: none;
}